
body {
    background-image: url(../img/circuit-board2.jpg);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#about-me {
    background-color: rgb(50, 202, 151);
    color: white;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    font-family: 'Lato',sans-serif;
}
#div1 {
    background-color:rgb(33, 150, 111);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Lato',sans-serif;
}
footer {color:white;
font-size: 30px;}

#top-ten {
    background-color: rgb(238, 143, 159); 
    color:teal;
    margin-bottom: 0px;
    width: 500px;
    height: 40px;
    padding-top: 15px;
}
#div2 {
    background-image: url(../img/travel.jpg); 
    width: 500px; height: 500px;
    font-size: 22px;
    color: rgb(42, 18, 66);
    margin-top: 0px;
    
}
#ol {margin-top: 0px;}
